
<%= form_for(@message, html:{class:"form-horizontal"}) do |f| %>
    <% if @message.errors.present? %>
        <div class="alert alert-danger">
            <%= alert %>
                <ul>
                    <% @message.errors.full_messages.each do |full_message| %>
                    <li>
                        <%= full_message %>
                    </li>
                    <% end %>
                </ul>
        </div>
    <% end %>
    

    <div class ="form-group">
        <label class="col-sm-2 control-label">Name：</label>
        <div class="col-sm-4">
            <%= f.text_field:name, class:"form-control",placeholder:"名前"%>
        </div>
        <label class="col-sm-1 control-label">Age:</label>
        <div class="col-sm-2">
            <%= f.number_field:age, class:"form-control"%>
        </div>
    </div>
    <div class ="form-group">
        <label class="col-sm-2 control-label">Message：</label>
        <div class="col-sm-10">
            <%= f.text_area:body, class:"form-control", rows:"8",placeholder:"ここにメッセージを記載してください" %>
            <p class="help-block">※300文字以内でお願いします</p>
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-4 col-sm-offset-2">
            <%= f.submit class:"btn btn-sm btn-primary"%>
            <% if @message.nil? %>
                <%= "ここでは使えません" %>
            <% else %>
                <%= link_to "delete", @message , method: :delete, data: {confirm: '削除してよろしいですか？'} ,class:"btn btn-sm btn-danger" %>
            <% end %>
        </div>
    </div>


<% end%>